{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'comment/css/comment.css' %}">
<style type="text/css">
    #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>

{% include 'nav.html' %}



<div class="col-sm-12" style="padding-top: 60px">
<div id="content">
    <div class="col-sm-12">

<center><h1 style="color: #250CFF">Aprende sin limites ! INICIA YA ! </h1></center>



<center><img src="{% static "img/body.png" %}" alt="moses" height="820" width="120" class="card-img-top"></center>



<center><h1 style="color: #250CFF">Prepárate para una carrera profesional en demanda</h1></center>
<br>
<br>


<div class="row">
    <div class="col-sm-4"></div>
<center><h2 style="color: #FF5300">Explora los certificados</h2></center>   
</div>

<div class="row"> 
    <div class="col-sm-3">

      <div class="card">
        <img src="{% static "img/curso1.png" %}" alt="moses" height="220px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Aprende Programacion Orientada a Objetos</h5>
                        <p class="card-text">La programación orientada a objetos se basa en el concepto de crear un modelo del problema de destino en sus programas. La programación orientada a objetos disminuye los errores y promociona la reutilización del código.</p>
                        <button type="button" class="btn btn-primary">Explorar</button>
                    </div>
                </div> 

    </div> 
      <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/curso2.png" %}" alt="moses" height="220px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Desarrollo de Aplicaciones Android</h5>
                        <p class="card-text">En este curso aprenderas el ambito de desarrollo de apliaciones para celulares android e interactuar con el entorno de Android Studio.</p>
                        <button type="button" class="btn btn-primary">Explorar</button>
                    </div>
                </div> 
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static "img/curso3.png" %}" alt="moses" height="220px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Aprende Base de datos Relacionales</h5>
                        <p class="card-text">Trabajar con conjuntos de datos y las relaciones entre ellos, SQL es un lenguaje de dominio específico, diseñado para administrar, y recuperar información de sistemas de gestión de bases de datos relacionales.</p>
                        <button type="button" class="btn btn-primary">Explorar</button>
                    </div>
                </div> 
        
    </div> 

     <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/curso41.png" %}" alt="moses" height="220px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Aprende Networking</h5>
                        <p class="card-text">Aprende como conectar diferentes redes al mismo tiempo dentro de un entorno empresarial o social.</p>
                        <button type="button" class="btn btn-primary">Explorar</button>
                    </div>
                </div> 
    </div>

</div>



      
        
                </div>


<style type="text/css">
    #footer {
    position: absolute;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
</style>                

          
            </div>

 <div class="row bg-dark" style="padding-top: 80px">           
<div class="fixed-bottom" id="footer">
    <center><p style="color: rgb(76, 178, 206)">Desarrollado por IDGS 91 ©2021</p></center>
</div>
</div>


        </div>









  
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
