{% load static %}


{% load crispy_forms_tags %}
{% include 'nav.html' %}
  <br>
  <br>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">
  
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

    <title>Formulario Login y Registro de Usuarios</title>
<body>

   <!-- Formularios -->
    <div class="contenedor-formularios">
        <!-- Links de los formularios -->
        <ul class="contenedor-tabs">
            <li class="tab tab-segunda active"><a href="#iniciar-sesion">Inicio de Sesión</a></li>
        </ul>

        <!-- Contenido de los Formularios -->
        <div class="contenido-tab">
            <!-- Iniciar Sesion -->
            <div id="iniciar-sesion">
                <h1>Iniciar Sesión</h1>
                <img src="{% static 'img/logoc.png' %}" alt="UTEC" style="width: auto; height: 200px; display: block; margin-left: auto; margin-right: auto;">                
                
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                                        <div class="contenedor-input">
                        <label>
                            Usuario <span class="req">*</span>
                        </label>
                        <input name="username" id="EmailL" type="text" required>
                    </div>
                    <div class="contenedor-input">
                        <label>
                            Contraseña <span class="req">*</span>
                        </label>
                        <input name="password" id="PasswordL" type="password" required>
                    </div>
                    <p class="forgot"><a href="{% url 'forgot_password' %}">¿Olvidaste la contraseña?</a></p>
                    <button value="Iniciar Sesión" class="button button-block">Iniciar sesión</button>
                  </form>
                  <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <div class="messages">
                            {% for message in messages %}
                                <a class="alert alert-success" style="color:red;"> {{ message }}</a>
                            {% endfor %}
                        </div>
                  </div>
    
    
                    
                </div>
                
                
            </div>

<!-- partial -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script  type="text/javascript" src="{% static 'js/login.js' %}"></script>
</body>
</html>